<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
   </head>
    <body>
        <div>
             <h1 align="center">Modificar nombre de editorial</h1>
        </div>
        
         <form class="w-50 p-3" th:action="@{/editorial/modificar/__${editorial.id}__}" method="POST">
 
             <input hidden th:value="${id}" name="id">
                           
                <div class="form-group">
                    <label>Nombre de la editorial</label>
                    <input th:value="${editorial.nombre}" type="text" class="form-group"  name="nombre">
                </div>
                <button type="submit" class="btn btn-primary">Guardar modificación</button>

         </form>
        
      
             <div th:if="${exito != null}" class="card text-white bg-succes mb-3 mt-3 mensajeExito">
                 <div class="card-body">
                     <h5 class="card-title">Exito</h5>
                     <p class="card-text" th:text="${exito}"></p>
                 </div>
             </div>
           
             <div th:if="${error != null}" class="card text-white bg-danger mb-3 mensajeError">
                 <div class="card-body">
                     <h5 class="card-title">Error</h5>
                     <p class="card-text" th:text="${error}"></p>                
                 </div>
             </div>
    </body>
</html>
